.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;

    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background: #315efb;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
  }

.div_main {
  float: left;
  display: inline-start;
  margin: 10px 10px;
  padding: 5px 10px;
  background: #c6e3f1fb;
  border-radius: 10px;
}

.div {
  margin: 10px 10px;
  padding: 5px 10px;
  background: #c6e3f1fb;
  border: 1px solid rgb(4, 119, 237);
  border-radius: 10px;
}

.div_user_rooms {
  float: left;
  display: inline-start;
  margin: 10px 10px;
}

.div_rooms {
  float: left;
  display: inline-start;
  margin: 10px 10px;
  padding: 5px 10px;
}
.div_chat {
  float: left;
  display: inline-start;
  margin: 10px 10px;
}


#avatar-input {
  margin: 5px 0px;
}

.message {
  color: rgb(0, 163, 68);
}

p {
  margin: 0px 0px;
  padding: 0px 0px;
}

.textarea {
  height: 563px;
  width: 300px;
  border: 1px solid rgb(4, 119, 237);
  border-radius: 10px;
}

.message_box {
  height: 22px;
  width: 300px;
  border: 1px solid rgb(4, 119, 237);
  border-radius: 10px;
}

.img_avatar {
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
}

